/* @esbuild-ignore */

.title {
    margin-top: 20px;
    margin-bottom: 20px;
}

.sign-up-form {
    padding: 20px;
}

hr {
    border: 0;
    border-top: 2px solid black;  /* Bolder line by increasing thickness */
    margin: 30px 0;
}